FIN2_DEBUG=0
FIN2_SECRET_KEY=REPLACE_WITH_RANDOM_SECRET
FIN2_ALLOWED_HOSTS=django.lmnet.qzz.io,t1django.lan,10.0.0.17,127.0.0.1,localhost
FIN2_CSRF_TRUSTED_ORIGINS=https://django.lmnet.qzz.io
FIN2_DATA_DIR=/var/lib/fin2
FIN2_WRITE_ENABLED=0
FIN2_SECURE_COOKIES=1
BRAPI_TOKEN=
